<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FDIS Week-2</title>
</head>

<body>
    <main>
        <h1>Create an Account</h1>
        <form method='POST'>
            <fieldset>
                <div class="form_container">
                    <label for="name">Username:</label>
                    <input type="text" id="username" name="username" value="{{name}}" placeholder="username"
                        required="true">

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{email}}" placeholder="user@email.com"
                        required="true">


                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="" placeholder="password"
                        required="true">

                    <input type="submit" class="submit" value="Submit!">

                    {% for message in get_flashed_messages() %}
                    <p class="errorText">{{message}}</p>
                    {% endfor %}
                </div>
            </fieldset>
        </form>

    </main>
</body>

</html>